<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- The app itself only needs OpenGL ES 2.0, but the Cardboard SDK declares 3.0. -->
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />

  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
  <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true"/>

  <!-- The Cardboard SDK uses the camera for scanning the QR codes of viewers, which is optional. -->
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- largeheap=true is required for loading 8k x 8k images. -->
  <application
      android:largeHeap="true"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme"
      android:icon="@drawable/icon">
    <!-- This is a 2D Version of the video player. -->
    <activity
        android:name=".MainActivity"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:exported="true">
      <!-- This Activity only shows up in the 2D launcher.  -->
      <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- This is the VR version of the video player, for Cardboard viewers. -->
    <activity
        android:name=".VrActivity"
        android:configChanges="orientation|keyboardHidden|screenSize|uiMode|navigation"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:resizeableActivity="false"
        android:screenOrientation="landscape"
        android:exported="true">

      <!-- This Activity only shows up in Cardboard launchers and not the 2D Launcher. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="com.google.intent.category.CARDBOARD" />
      </intent-filter>
    </activity>
  </application>
</manifest>
